.aboutMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMeSection .myPhoto {
    margin: 0;

}

.aboutMeSection h3 {
    font: normal bold 900 30px/50px Heebo;
    margin-top: 15px;
}

.aboutMeSection p {
    font: normal normal 500 16px/30px Heebo;
    margin-top: 15px;
}