.jsCardBox {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

@media screen and (max-width:960px) {
    .jsCardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:620px) {
    .jsCardBox {
        grid-template-columns: repeat(1, 1fr);
    }
}